<?xml version="1.0" ?>

<launch>
    <rosparam file="$(find arm_gazebo)/config/arm_control.yaml" command="load"/>
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/arm_robot" args="link1_joint_position_controller link2_joint_position_controller link3_joint_position_controller link4_joint_position_controller link5_joint_position_controller link6_joint_position_controller joint_state_controller"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
        <!-- <remap from="/joint_states" to="/arm_robot/joint_states"/> -->
    </node>
</launch>